.body {
    background-color: rgb(111, 117, 99);
    cursor:url(myBall.cur),auto;
}

.h1 {
    color:rgb(0, 0, 0);
    text-align: center;
}

.h2 {
    font-family: sans-serif;
}


.flex-conteiner1 {
    display: flex;
}

.flex-conteiner2 {
    display: flex;
}

.flex-item {
    margin:20px;
    padding: 20px;
    
}

.footer { 
    font-size: x-small;
}